VITE_GA_TRACKING_ID=G-DJSDBYJ2RB
VITE_RECAPTCHA_KEY=6Ld----something-else

#server
PROJECT_ID=google-cloud-project-id
RECAPTCHA_KEY=6Ld----something-else
MAILCHIMP_API_KEY=mailchimp-api-key-us11
MAILCHIMP_DC=us11
MAILCHIMP_LIST_ID=list-id


